<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>
<body>
<h1>주문요청</h1>

<div th:replace="/fragments/layout.html :: fragment-body-menu"></div>
<div th:replace="/fragments/layout.html :: fragement-category-menu"></div>

<div class="detail">
    <table>
        <tbody>
        <tr>
            <th>
                주문자 정보
            </th>
            <td>
                <input type="text" name="recipientName" readonly/>
            </td>
        </tr>

        <tr>
            <th>핸드폰 번호</th>
            <td>
                <input type="text" name="phone" readonly/>
            </td>
        </tr>
        <tr>
            <th>수취인 전화번호</th>
            <td>
                <input type="text" name="recipientPhone"/>
            </td>
        </tr>
        <tr>
            <th>주소</th>
            <td>
                <input type="text name=recipientAddr"/>
                <button type="button">검색</button>
            </td>
            <td>
                <input type="text" name="recipientAddrDetail"/>
            </td>
        </tr>
        <tr>
            <th>배송시 요청사항</th>
            <td>
                <input type="text" name="orderRequest"/>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="buttons">
        <button type="submit">주문하기</button>

    </div>
</div>

</body>
</html>