<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 화면</title>
    <style>
        .list table{
            width: 100%;
            border-collapse: collapse;
        }
        .list table th, .list table td {
            border:solid 1px #000;
        }
        p.nothing {
            text-align: center;
            padding : 100px;
        }
        .inline-div {
            display: inline-block;
        }

    </style>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            $('form[name=deleteForm]').on('submit',function() {
                if(!confirm('브랜드를 삭제하시겠습니까?')) {
                    return false;
                }
            });

            $('button.update-button').on('click', function(){

                if(!confirm('브랜드를 수정하시겠습니까?')){
                    return false;
                }

                var $this = $(this);
                var $tr = $this.closest('tr');

                var id = $tr.find('input[name=id]').val();
                var brandName = $tr.find('input[name=brandName]').val();
                var sortValue = $tr.find('input[name=sortValue]').val();
                var usingYn = $tr.find('input[type=checkbox]')[0].checked;

                $updateForm = $('form[name=updateForm]');
                $updateForm.find('input[name=id]').val( id );
                $updateForm.find('input[name=brandName]').val( brandName );
                $updateForm.find('input[name=sortValue]').val( sortValue );
                $updateForm.find('input[name=usingYn]').val( usingYn );
                $updateForm.submit();

            });

        });
    </script>
</head>
<body>
      <h1>카테고리 관리 </h1>
      <div th:replace="/fragments/layout.html :: fragment-admin-body-menu"></div>


    <div class="list">

        <div>
            <form method="post" action="/admin/brand/add.do">
                <input type="text" name="brandName" required placeholder="브랜드명 입력"/>
                <button type="submit">추가</button>
            </form>

        </div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>브랜드명</th>
                    <th>순서</th>
                    <th>사용여부</th>
                    <th>비고</th>
                </tr>
            </thead>
        <tbody>

        <tr th:each="x : ${list}">
            <td th:text="${x.id}">
                <input type="hidden" name="id" th:value="${x.id}"/>
                <p th:text="${x.id}">1</p>
            </td>
            <td>
                <input th:value="${x.brandName}" type="text" name="brandName"/>
            </td>
            <td>
                <input th:value="${x.sortValue}" type="text" name="sortValue"/>
            </td>
            <td>
                <input th:checked="${x.usingYn}" type="checkbox" th:id="'usingYn_' + ${x.id}" th:name="'usingYn' + ${x.id}" value="true"/>
                <label th:for="'usingYn_' + ${x.id}">사용</label>
            </td>
            <td>
                <div class="inline-div">
                    <button class="update-button" type="button">수정</button>
                </div>
                <div class="inline-div">
                    <form name="deleteForm" method="post" action="/admin/brand/delete.do">
                        <input type="hidden" name="id" th:value="${x.id}"/>
                        <button type="submit">삭제</button>
                    </form>
                </div>
            </td>
        </tr>
        <tr th:if="${#lists.size(list) < 1}">
            <td colspan="5">
                <p class="nothing">내용이 없습니다.</p>
            </td>
        </tr>
        </tbody>
        </table>


    </div>

<form name="updateForm" method="post" action="/admin/brand/update.do">
    <input type="hidden" name="id"/>
    <input type="hidden" name="brandName"/>
    <input type="hidden" name="sortValue"/>
    <input type="hidden" name="usingYn"/>
</form>

</body>
</html>