<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 정보</title>
</head>
<body>
        <h1>회원 정보 </h1>
        <div th:replace="/fragments/layout.html :: fragment-body-menu"></div>

        <div>
            <a href="/member/info">회원 정보 수정</a>
            |
            <a href="/member/password">비밀번호 변경</a>
            |
            <a href="#">내 구매 목록</a>
        </div>

        <div>
            <form id="submitForm" method="post">
            <div>
                <input type="password" name="password" placeholder="현재 비밀번호 입력" required/>
            </div>
            <div>
                <input type="password" name="newPassword" placeholder="신규 비밀번호 입력" required/>
            </div>
            <div>
                <input type="password" name="newRePassword" placeholder="신규 확인 비밀번호 입력" required/>
            </div>
                <div>
                    <button type="submit">바밀번호 변경</button>
                </div>
            </form>
        </div>

</body>
</html>