<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.flatarea.admin.mapper.BrandMapper">


    <select id="select" resultType="com.example.flatarea.admin.dto.BrandDto">
        select b.*
             , (select count(*) from product where brand_id = b.id) as product_count
        from brand b
        where using_yn = 1
        order by  sort_value desc
        ;
    </select>
</mapper>