<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.flatarea.product.mapper.ProductMapper">

    <sql id="selectListWhere">

        <if test="searchType != null and searchValue != null">
            <choose>
                <when test="searchType == 'userId'">
                    and user_id like concat('%', #{searchValue}, '%')
                </when>
                <when test="searchType == 'userName'">
                    and user_name like concat('%', #{searchValue}, '%')
                </when>
                <when test="searchType == 'phone'">
                    and phone like concat('%', #{searchValue}, '%')
                </when>
                <otherwise>
                    and
                    (
                    user_id like concat('%', #{searchValue}, '%')
                    or
                    user_name like concat('%', #{searchValue}, '%')
                    or
                    phone like concat('%', #{searchValue}, '%')
                    )
                </otherwise>
            </choose>
        </if>

    </sql>


    <select id="selectListCount"
            parameterType="com.example.flatarea.product.model.ProductParam"
            resultType="long">
        select count(*)
        from product
        where 1 = 1
            <include refid="selectListWhere"/>
    </select>
    
    <select id="selectList"
            parameterType="com.example.flatarea.product.model.ProductParam"
            resultType="com.example.flatarea.product.dto.ProductDto">
        select *
        from product
        where 1 = 1
        <include refid="selectListWhere"/>
        order by reg_dt desc
        limit #{pageStart}, #{pageEnd}
    </select>

</mapper>