<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

      <div th:fragment="fragment-body-menu">
        <div>
          <a href="/member/register">회원가입</a>
          |
          <a href="/member/info">회원 정보</a>
          |
          <a href="#">장바구니</a>
          |
          <a href="/member/login">로그인</a>
          |
          <a href="/member/logout">로그아웃</a>
        </div>
        <hr/>
      </div>

      <div th:fragment="fragment-admin-body-menu">
          <a href="/admin/main.do"> 관리자 메인</a>
          |
          <a href="/admin/member/list.do"> 회원 목록 </a>
          |
          <a href="/admin/category/list.do"> 카테고리 관리 </a>
          |
          <a href="/admin/product/list.do"> 제품 관리 </a>
          |
          <a href="/member/logout"> 로그아웃 </a>
          <br/>
          <hr/>
      </div>

</body>
</html>