<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

      <div th:fragment="fragment-body-menu">
          <style>
              .title, .title a{
                  text-align : center;
                  text-decoration : none;
                  color: #000000;
              }
              .layout a{
                  text-decoration : none;
                  color: #000000;
              }
              .layout{
                  text-align : right;
              }
          </style>
          <h1><div class="title"> <a href="/">FlatArea</a></div></h1>
        <div class="layout">
          <a href="/member/info">회원 정보</a>
          |
          <a href="#">장바구니</a>
          |
          <a href="#">구매 목록</a>
          |
          <a href="/member/login">로그인</a>
          |
          <a href="/member/logout">로그아웃</a>
        </div>
      </div>

      <div th:fragment="fragement-category-menu">
          <style>
              .menu a{
                  text-decoration : none;
                  color: #000000;
              }
          </style>
          <hr/>
          <div class="menu">
              <a href="/product">전체 (<span th:text="${productTotalCount}"></span>)</a>

              <th:block th:each="y : ${brandList}">
                  |
                  <a th:href="'/product?brandId=' + ${y.id}">
                      <span th:text="${y.brandName}"></span> (<span th:text="${y.productCount}"></span>)</a>
              </th:block>

              <select onchange="if(this.value) location.href=(this.value);">
                  <option>의류</option>
                  <option th:each="x : ${categoryList}" th:value="'/product?categoryId=' + ${x.id}"  th:text="${x.categoryName}"></option>
              </select>
          </div>
          <hr/>
      </div>
      </div>

      <div th:fragment="fragment-admin-body-menu">
          <a href="/admin/main.do"> 관리자 메인</a>
          |
          <a href="/admin/member/list.do"> 회원 목록 </a>
          |
          <a href="/admin/category/list.do"> 카테고리 관리 </a>
          |
          <a href="/admin/brand/list.do"> 브랜드 관리 </a>
          |
          <a href="/admin/product/list.do"> 제품 관리 </a>
          |
          <a href="/member/logout"> 로그아웃 </a>
          <br/>
          <hr/>
      </div>

</body>
</html>