<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 화면</title>
    <style>
        .detail table{
            width: 100%;
            border-collapse: collapse;
        }
        .detail table th, .detail table td {
            border:solid 1px #000;
        }

        .buttons {
            margin-top: 20px;
            text-align: center;
        }
        .buttons a, .buttons button {

            border-width: 0;
            background-color: transparent;
            text-decoration: underline;
            font-size: 14px;
            line-height: 20px;
            height: 20px;
            color: #000000;
            cursor: pointer;
        }


    </style>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {

            $('#submitForm').on('submit', function () {
                // 에디터의 내용이 textarea에 적용된다.
                oEditors.getById["pInfo"].exec("UPDATE_CONTENTS_FIELD", []);

            });

        });
    </script>
</head>
<body>
      <h1>제품 관리 - 제품 등록</h1>
      <div th:replace="/fragments/layout.html :: fragment-admin-body-menu"></div>

<div class="detail">

    <form id="submitForm" method="post">

    <table>
        <tbody>
            <tr>
                <th>제품 카테고리</th>
                <td>
                    <select name="categoryId" required>
                    <option value="">카테고리선택</option>
                    <option
                            th:selected="${detail.categoryId == x.id}"
                            th:each="x : ${category}" th:value="${x.id}" th:text="${x.categoryName}"></option>
                    </select>
                </td>
            </tr>

            <tr>
                <th>제품 브랜드</th>
                <td>
                    <select name="brandId" required>
                        <option value="">브랜드선택</option>
                        <option
                                th:selected="${detail.brandId == x.id}"
                                th:each="x : ${brand}" th:value="${x.id}" th:text="${x.brandName}"></option>
                    </select>
                </td>
            </tr>

            <tr>
                <th>제품명</th>
                <td>
                    <input th:value="${detail.PName}" type="text" name="pName" required placeholder="제품명 입력"/>
                </td>
            </tr>

            <tr>
                <th>
                    요약문구
                </th>
                <td>
                    <textarea th:text="${detail.summary}" name="summary" required placeholder="키워드 입력"></textarea>
                </td>
            </tr>

            <tr>
                <th>상품설명</th>
                <td>
                    <textarea th:text="${detail.PInfo}" id="pInfo" name="pInfo" placeholder="상품설명 입력"></textarea>
                </td>
            </tr>

            <tr>
                <th>판매가</th>
                <td>
                    <input th:value="${detail.price}" type="text" name="price" required placeholder="상품가격 입력"/>
                </td>
            </tr>

            <tr>
                <th>재고수량</th>
                <td>
                    <input th:value="${detail.stockAmount}" type="text" name="stockAmount" required placeholder="재고수량 입력"/>
                </td>
            </tr>

            <tr>
                <th>판매수량</th>
                <td>
                    <input th:value="${detail.sellAmount}" type="text" name="sellAmount" placeholder="추후에 작업"/>
                </td>
            </tr>


        </tbody>
    </table>

    <div class="buttons">
        <button th:if="${editMode}" type="submit">제품 수정 하기</button>
        <button th:if="${!editMode}" type="submit">제품 등록 하기</button>
        <a href="/admin/product/list.do"> 목록 이동 </a>
    </div>

    </form>
</div>

      <script type="text/javascript" src="/res/se2/js/service/HuskyEZCreator.js" charset="utf-8"></script>
      <script type="text/javascript">
          var oEditors = [];
          nhn.husky.EZCreator.createInIFrame({
              oAppRef: oEditors,
              elPlaceHolder: "pInfo",
              sSkinURI: "/res/se2/SmartEditor2Skin.html",
              fCreator: "createSEditor2"
          });
      </script>
</body>
</html>