<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 화면</title>
    <style>
        .list table{
            width: 100%;
            border-collapse: collapse;
        }
        .list table th, .list table td {
            border:solid 1px #000;
        }
        p.nothing {
            text-align: center;
            padding : 100px;
        }
        .pager {
            margin-top: 20px;
            text-align: center;
        }
        .pager a.on{
            font-weight: bold;
            color: red;
        }


    </style>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {

        });
    </script>
</head>
<body>
      <h1>제품 관리 </h1>
      <div th:replace="/fragments/layout.html :: fragment-admin-body-menu"></div>

      <div>
          <a href="/admin/product/add.do"> 제품 등록 </a>
      </div>

    <div class="list">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>제품명</th>
                    <th>제품 등록일</th>
                </tr>
            </thead>
        <tbody>
            <tr th:each="x : ${list}">
                <td th:text="${x.seq}">1</td>
                <td>
                    <p>
                        <a th:href="'/admin/product/edit.do?id=' + ${x.id}" th:text="${x.pName}">제품명</a>
                    </p>
                </td>
                <td th:text="${x.regDt}"></td>

            </tr>

        </tbody>
        </table>

        <div class="pager" th:utext="${pager}">
        </div>
    </div>

</body>
</html>